# In assignment/.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.so

# Virtual Environments
/myvenv/
/venv/
/env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Editor-specific folders
.vscode/
.idea/

# Local cache for Hugging Face models
/cache/
/.cache/

# Large dataset files
# The dataset is large and should be downloaded separately by the user.
/SIC/data/


# OS-specific files
.DS_Store
Thumbs.db